html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Nanum Myeongjo', sans-serif;
	font-size: 16px;
	color: #e9dcf5;
	background-color: #17111d;
}

#dissociates {
	text-shadow: 0px 0px 10px #ff3d8e33, 15px 15px 5px #00d0ff22, -5px -5px 5px #ff3d8e11;
}

a {
	color: #b365a1;
}

a:hover {
	color: #e9dcf5;
}

h1 {
	font-size: 72px;
	font-weight:800;
	margin-bottom: 10px;
}

#header {
	margin-bottom: 70px;
}

ul {
	list-style: url('asterisk.svg');
}

.twitter-icon {
	width: 20px;
	height: 20px;
}

.twitter-icon:hover {
	opacity: 0.5;
}

#container {
	padding-top: 20px;
	padding-left: 70px;
	max-width: 600px;
}

#content {
	line-height: 1.6;
	text-indent: 1em;
}

#footer {
	margin-top: 50px;
	font-size: 12px;
	padding-bottom: 150px;
}

@media (max-width: 600px) {
	body {
		font-size: 14px;
	}

	h1 {
		font-size: 48px;
	}

	#container {
		padding-left: 5%;
		padding-right: 5%;
		width:100%;
		box-sizing: border-box;
	}
}